body {
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #003442;
}

.App {
  position: relative;
}

.main {
  height: 80vh;
  width: 100%;
}

.save-section {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  padding-left: 4rem;
  border-bottom: 2px solid black;
  margin-top: 4rem;
}

.save-section .btn-save {
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: rgb(200, 200, 194);
  box-shadow: rgba(19, 18, 18, 0.714) 0px 2px 5px;
}

.main-sections {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-sections .left {
  width: 35%;
  overflow: auto;
  resize: horizontal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e1ebed;
  padding-top: 0.5rem;
  border-top: 2rem solid #003442;
}

.main-sections .middle {
  width: 80%;
}

.main-sections .right {
  width: 35%;
  overflow: auto;
  resize: horizontal;
  direction: rtl;
  background-color: #e1ebed;
  border-left: 1px solid black;
}

.main-sections .left .box {
  width: 80px;
  height: 80px;
  margin: 0.5rem;
  background-color: #d0d0d0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.btn-close {
  background-image: url("./assets/cross.png");
  font-size: 1.5rem;
  padding: 0;
}

.pop-up {
  width: 32%;
  height: 30vh;
  background-color: #d0d0d0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
